
.canvas-next {
  grid-area: canvas-next;
  align-self: stretch;
  justify-self: stretch;
  padding: 5px;
  margin: 0% 15px;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 1), 0 2px 15px 0 rgba(0, 0, 0, 0.19);
  border: solid 1px rgba(23, 162, 184, 0.15);
}

.a49view-magic {
  grid-area: a49view-magic;
  padding-right: 15px;
  align-self: end;
  justify-self: stretch;
  overflow: hidden;
  display: grid;
  grid-template-columns: calc(100% - var(--searchbar-height)) var(
      --searchbar-height
    );
  grid-template-rows: 60% 40%;
  grid-template-areas:
    "a49view-makeyourown-tag ."
    "a49view-magic-inputbar a49view-magic-inputbaricon";
}

.a49view-makeyourown-tag {
  grid-area: a49view-makeyourown-tag;
  font-size: var(--font-size-normal);
  justify-self: center;
}

.a49view-magic-inputbaricon {
  grid-area: a49view-magic-inputbaricon;
  width: var(--searchbar-height);
  height: var(--searchbar-height);
  margin-left: 10%;
  align-self: end;
  justify-self: stretch;
}

.a49view-magic-inputbar {
  grid-area: a49view-magic-inputbar;
  align-self: end;
  justify-self: stretch;
}

.a49view-magic-result {
  grid-area: a49view-magic-result;
  align-self: start;
  justify-items: center;
  padding-right: 15px;
  overflow: hidden;
  text-align: center;
}

.a49viewRestingMainMenu {
  width: calc(
    var(--scrollContainer3ItemsPerc) -
      var(--scrollContainer3ItemsPaddingPerItem)
  );
  overflow: hidden;
  float: left;
  margin-right: var(--scrollContainer3ItemsMarginPerItem);
}

.a49viewPanLeftMenu0 {
  animation: panLeft 1.5s ease-in-out 0s 1 normal forwards;
}

.a49viewPanLeftMenu01 {
  animation: panLeft2 1.5s ease-in-out 0s 1 normal forwards;
}

.a49viewPanLeftMenu {
  width: calc(
    var(--scrollContainer3ItemsPerc) -
      var(--scrollContainer3ItemsPaddingPerItem)
  );
  animation: panLeft 1.5s ease-in-out 0s 1 normal forwards;
  float: left;
  margin-right: var(--scrollContainer3ItemsMarginPerItem);
}

.a49viewPanRightMenu {
  width: calc(
    var(--scrollContainer3ItemsPerc) -
      var(--scrollContainer3ItemsPaddingPerItem)
  );
  animation: panRight 1.5s ease-in-out 0s 1 normal forwards;
  float: left;
  margin-right: var(--scrollContainer3ItemsMarginPerItem);
}

.a49viewPanLeftMenu2 {
  width: calc(
    var(--scrollContainer3ItemsPerc) -
      var(--scrollContainer3ItemsPaddingPerItem)
  );
  animation: panLeft2 1.5s ease-in-out 0s 1 normal forwards;
  float: left;
  margin-right: var(--scrollContainer3ItemsMarginPerItem);
}

.a49viewPanRightMenu2 {
  width: calc(
    var(--scrollContainer3ItemsPerc) -
      var(--scrollContainer3ItemsPaddingPerItem)
  );
  animation: panRight2 1.5s ease-in-out 0s 1 normal forwards;
  float: left;
  margin-right: var(--scrollContainer3ItemsMarginPerItem);
}

@keyframes panLeft {
  from {
  }
  to {
    transform: translate(
      calc(
        var(--scrollContainer3ItemsPercNeg) - var(--scrollContainer3ItemsPDN)
      ),
      0
    );
  }
}

@keyframes panLeft2 {
  0% {
    transform: translate(
      calc(
        var(--scrollContainer3ItemsPercNeg) - var(--scrollContainer3ItemsPDN)
      ),
      0
    );
  }
  100% {
    transform: translate(
      calc(
        var(--scrollContainer3ItemsPercNeg2) - var(--scrollContainer3ItemsPDN)
      ),
      0
    );
  }
}

@keyframes panRight {
  0% {
    transform: translate(
      calc(
        var(--scrollContainer3ItemsPercNeg) - var(--scrollContainer3ItemsPDN)
      ),
      0
    );
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes panRight2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(
      calc(-100% - var(--scrollContainer3ItemsMarginPerItem)),
      0
    );
  }
}

.property-details {
  grid-area: property-details;
  width: 100%;
  height: 100%;
  padding: 0% 15px;
  overflow-y: scroll;
  align-self: start;
  justify-self: start;
}

.doublelist > li {
  display: inline-block;
  width: 50%;
}

.a49view-magic-selector-main {
  width: 100%;
  padding: 0.5rem 0%;
  margin-bottom: 5px;
  display: grid;
  grid-template-columns: 35px calc(100% - 75px) 35px;
  grid-template-rows: 100%;
  grid-gap: 0px 5px;
  border-radius: 6px;
  align-items: center;
  justify-items: start;
  border: solid 1px var(--primary-color-quarter);
  cursor: pointer;
}

.a49view-magic-selector-main:hover {
  border: solid 1px rgba(23, 162, 184, 0.55);
  background-image: linear-gradient(
    rgba(23, 162, 184, 0.15),
    rgba(23, 162, 184, 0)
  );
}

.a49view-magic-selector-main:active {
  border: solid 1px rgba(23, 162, 184, 0.95);
  background-image: linear-gradient(
    rgba(23, 162, 184, 0.25),
    rgba(23, 162, 184, 0)
  );
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 1), 0 2px 15px 0 rgba(0, 0, 0, 0.19);
  /* animation: panLeft 0.5s forwards; */
}

.a49view-magic-selector-mainIcon {
  padding: 0% 0.5rem;
  width: 2.25rem;
  font-size: var(--font-size-medium);
  color: var(--secondary-alt-color);
}

.a49view-magic-selector-arrow {
  width: 2rem;
  font-size: var(--font-size-medium);
  color: var(--primary-color-light);
}

.a49view-magic-selector-arrow:hover {
  opacity: 0.8;
}

.a49view-magic-selector-arrow:active {
  text-shadow: 0px 0px 8px var(--dark-color);
  opacity: 1;
}

.a49view-magic-selector-mainText {
  font-size: var(--font-size-one);
  color: var(--logo-color-1);
  float: left;
  text-align: end;
}

.a49view-timeofday-grid {
  display: grid;
  overflow: hidden;
  color: var(--high-grey-color);
  grid-gap: 4px 0px;
  grid-template-columns: 100%;
  grid-template-rows: 1.6rem var(--font-size-small) 35px 15px 1.6rem;
  grid-template-areas:
    "a49view-timeofday-grid-title"
    "a49view-timeofday-grid-index"
    "a49view-timeofday-grid-imagebars"
    "a49view-timeofday-grid-control"
    "a49view-timeofday-grid-value";
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  padding: 5px 5px;
}

.a49view-timeofday-grid-title {
  grid-area: "a49view-timeofday-grid-title";
  justify-self: center;
  font-size: var(--font-size-one);
  color: var(--logo-color-1);
}

.a49view-timeofday-grid-value {
  grid-area: "a49view-timeofday-grid-value";
  color: var(--high-grey-color);
  font-size: var(--font-size-one);
  font-weight: bold;
  justify-self: center;
}

.a49view-timeofday-grid-index {
  grid-area: a49view-timeofday-grid-index;
  font-size: var(--font-size-small);
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 100%;
  align-items: center;
  justify-items: center;
}

.a49view-fourseasons-grid-index {
  grid-area: a49view-timeofday-grid-index;
  font-size: var(--font-size-small);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 100%;
  align-items: center;
  justify-items: center;
}

.a49view-timeofday-grid-index-strip {
  grid-area: a49view-timeofday-grid-index-strip;
}

.a49view-timeofday-grid-imagebars {
  grid-area: a49view-timeofday-grid-imagebars;
  align-self: stretch;
}

.a49view-timeofday-grid-control {
  grid-area: a49view-timeofday-grid-control;
}

.a49view-timeofday-grid-control-slider {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: var(--light-color);
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  box-shadow: inset 0 0 1px 1px var(--primary-color-light);
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 1);
  background: var(--primary-color-light);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 1);
  background: var(--primary-color-light);
  cursor: pointer;
}

.a49view-timeoftheday-title {
  width: 100%;
  display: grid;
  margin-bottom: 1rem;
  grid-template-columns: calc(100% - 25px) 25px;
  grid-template-rows: 100%;
  background: linear-gradient(
      to left,
      var(--logo-color-1) 0%,
      var(--primary-color-light) 100%
    )
    left bottom rgba(0, 0, 0, 0) no-repeat;
  background-size: 100% 1px;
  /* border-image: linear-gradient(to right, red, rgba(0, 0, 0, 0)) 1 100%; */
}

.a49view-mainseletion-back-title-text {
  align-self: center;
  font-size: var(--font-size-normal);
  /* text-align: left; */
}

.a49view-mainseletion-back-icon {
  justify-self: end;
  cursor: pointer;
  color: var(--primary-color-light);
  font-size: var(--font-size-medium);
}

.a49view-mainseletion-back-icon:hover {
  opacity: 0.8;
}

.a49view-mainseletion-back-icon:active {
  text-shadow: 0px 0px 8px var(--dark-color);
  opacity: 1;
}

.a49viewColorCardContainer {
  overflow-y: scroll;
  height: calc(100vh - var(--footerheight));
}

.a49viewcolorCard {
  grid-area: a49view-magic-result;
  display: grid;
  margin: 7px 10px;
  width: 100px;
  grid-template-columns: 100px;
  grid-template-rows: 75px 30px 4px;
  grid-template-areas:
    "."
    "a49view-card-color-name";
  grid-gap: 10px;
  border-radius: 6px;
  align-items: center;
  justify-items: start;
  border: solid 1px var(--nice-grey);
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  overflow: hidden;
}

.a49viewcolorCard:hover {
  opacity: 0.8;
}

.a49viewcolorCard:active {
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.5);
  opacity: 1;
}

.a49view-card-color-name {
  grid-area: "a49view-card-color-name";
  width: 100%;
  font-size: var(--font-size-medium);
  font-family: "Pompiere";
  text-align: center;
  line-height: 2rem;
  background-color: var(--dark-color);
  box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.25);
}

.forceCenterAlignedOnGrid {
  display: inline-block;
}

.a49viewfloorCard {
  grid-area: a49view-magic-result;
  display: grid;
  margin: 7px 10px;
  width: 300px;
  height: 84px;
  grid-template-columns: 84px calc(100% - 84px);
  grid-template-rows: 40% 15% 35% 10%;
  grid-template-areas:
    "a49view-card-floor-brand a49view-card-floor-name"
    "a49view-card-floor-brand ."
    "a49view-card-floor-brand a49view-card-floor-price"
    "a49view-card-floor-brand .";
  border-radius: 6px;
  align-items: center;
  justify-items: start;
  border: solid 1px var(--nice-grey);
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  overflow: hidden;
}

.a49viewfloorCard:hover {
  opacity: 0.8;
}

.a49viewfloorCard:active {
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.5);
  opacity: 1;
}

.a49view-card-floor-brand {
  grid-area: a49view-card-floor-brand;
  height: calc(100% - 6px);
  width: calc(100% - 8px);
  margin: 0px 4px;
  align-self: center;
  text-align: center;
}

.a49view-card-floor-name {
  grid-area: a49view-card-floor-name;
  width: calc(100% - 8px);
  height: 100%;
  padding: 0px 10px;
  margin: 4px 4px;
  font-size: var(--font-size-09);
  font-weight: bold;
  color: var(--dark-color);
  text-shadow: 0 0 2px #ffffff, 0 0 2px #dddddd;
  text-align: left;
  line-height: 2rem;
  align-self: start;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.25);
}

.a49view-card-floor-price {
  grid-area: a49view-card-floor-price;
  font-size: var(--font-size-normal);
  padding: 0px 10px;
  margin: 4px 4px;
  height: 100%;
  align-self: center;
  justify-self: end;
  font-weight: bold;
  color: var(--logo-color-1);
  text-align: left;
  text-shadow: 0 0 3px #000000, 0 0 5px #202020;
  line-height: 2rem;
  border-radius: 4px;
  background-color: var(--dark-color);
}

.a49trader-card {
  display: grid;
  margin: 20px 0px;
  padding: 0px 15px;
  box-sizing: border-box;
  width: 100%;
  height: 82px;
  grid-template-columns: 62px calc(60% - 62px) 40%;
  grid-template-rows: 38% 12% 50%;
  grid-template-areas:
    "a49trader-profile-picture a49view-trader-name a49view-trader-quote-price"
    "a49trader-profile-picture a49view-trader-title a49view-trader-quote-date"
    "a49trader-profile-picture a49view-trader-stars a49view-trader-quote-bookit";
  /* grid-gap: 0px 20px; */
  border-radius: 6px;
  align-items: center;
  border: solid 1px var(--nice-grey);
  background-image: linear-gradient(
    rgba(63, 162, 184, 0.15),
    rgba(63, 162, 184, 0)
  );
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  overflow: hidden;
}

.a49trader-profile-picture {
  grid-area: a49trader-profile-picture;
  align-self: center;
  justify-self: center;
  height: 62px;
}

.a49trader-profile-picture > img {
  width: 62px;
  border-radius: 50%;
  border: solid 1px var(--nice-grey);
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.a49view-trader-name {
  margin: 5px 15px;
  grid-area: a49view-trader-name;
  font-weight: bold;
  align-self: start;
}

.a49view-trader-title {
  margin: 0px 15px;
  grid-area: a49view-trader-title;
  color: var(--high-grey-color);
  font-size: var(--font-size-small);
}

.a49view-trader-stars {
  margin: 0px 15px;
  grid-area: a49view-trader-stars;
  color: var(--happy-color);
}

.a49view-trader-quote-price {
  grid-area: a49view-trader-quote-price;
  justify-self: end;
  align-self: start;
  font-weight: bold;
  color: var(--logo-color-1);
  text-shadow: 0 0 3px #000000, 0 0 5px #202020;
  margin: 5px 0px;
}

.a49view-trader-quote-date {
  grid-area: a49view-trader-quote-date;
  font-size: var(--font-size-small);
  color: var(--high-grey-color);
  justify-self: end;
}

.a49view-trader-quote-bookit {
  grid-area: a49view-trader-quote-bookit;
  justify-self: end;
  font-size: var(--font-size-09);
  border: solid 1px var(--nice-grey);
  border-radius: 4px;
  padding: 0px 10px;
  background-image: linear-gradient(
    rgba(40, 167, 69, 0.8),
    rgba(40, 167, 69, 0.5)
  );
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
}
